/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/.styleci.yml
/.idea/workspace.xml
/.idea/phpunit.xml
/.idea/php.xml
/.idea/permissions_ui.iml
/.idea/modules.xml
/.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
/.idea/commandlinetools/Laravel_2_18_21__10_22_AM.xml
/.idea/codeStyles/codeStyleConfig.xml
/resources/.DS_Store
/public/js/app.js
/public/css/app.css
